%h2
  %span.label.label-primary Your feed:
.row
  .posts
    = render @posts
%br

- if @posts.next_page
  .row.text-center
    .pagination
      = link_to "Load more", feed_users_path(page: @posts.next_page), remote: true, class: "btn btn-lg btn-primary"
= render "shared/post_modal"
