%h2
  %span.label.label-primary= "followers of #{@user.username}:"
%ul.users.list-group
  - if @users.count > 0
    = render @users
  - else
    %h3 Nobody yet.
- if @users.next_page
  .row
    .col-md-4.col-md-offset-4.text-center
      .pagination= link_to "Load more", followers_user_path(@user, page: @users.next_page), remote: true, class: "btn btn-lg btn-primary"
