%h3 Your followers:
%ul.list-group.users
  = render @users
- if @users.next_page
  .row
    .col-md-4.col-md-offset-4.text-center
      .pagination= link_to "Load more", followers_user_path(@user, page: @users.next_page), remote: true, class: "btn btn-lg btn-primary"
