.modal-dialog.modal-lg
  .modal-content
    .modal-body.clearfix


      = render "show"
    .modal-footer
      .pull-left
        - if @post.next
          = link_to post_path(@post.next), remote: true, class: "btn btn-primary btn-lg" do
            %span.glyphicon.glyphicon-chevron-left
      .pull-right
        - if @post.previous
          = link_to post_path(@post.previous), remote: true, class: "btn btn-primary btn-lg" do
            %span.glyphicon.glyphicon-chevron-right
