$(".posts").append("#{j render @posts}")
- if @posts.next_page
  $(".pagination").html("#{j link_to "Load more", liked_posts_path(page: @posts.next_page), remote: true, class: 'btn btn-lg btn-primary'}")
- else
  $(".pagination").hide()
