/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "cssgram.min.css";

 html, body { height: 100%; }
.alert-alert { @extend .alert-warning; }
 body{
   background-color: #f9f9f9;
 }
 .circular {
 	width: 200px;
 	height: 200px;
 	border-radius: 100px;
 	-webkit-border-radius: 100px;
 	-moz-border-radius: 100px;
 	}

.navbar {
  background-color: white;
}
.comments {
    max-height: 25em;
    overflow: auto;
}

.modal-lg{
  width: 80%;
  height: 40%;
  .col-md-8{
    figure{
    }
    .img-responsive{
      max-height:40em;
      width: auto;
      display: block;
      margin: 0 auto;
    }
  }
}

.posts .img-responsive {
  background-size: cover;
  position: relative;
  &:hover{
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
  }
}

.overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.75) !important;
  padding: 4px 8px;
  color: white;
  visibility: hidden;
}
.overlay.permanent{
  visibility: visible;
}
